<!DOCTYPE html>
<html lang="en">
  <body>
    <h1> Divide and Vanish!</h1> 
    <br>
    <p>
        Can you bring all the numbers to 1? Drag two numbers together to divide them by their lowest common divisor. Continue your path from where you left off and try to make all the numbers equal to 1.
    </p>
    <h2> Level {{currentLevel+1}} </h2>
    <br>
    <div>
      <div id="buttonGroup" ng-repeat="number in numbers track by $index">
        <div class="numberBox" droppable drop="handleDrop" draggable
             id={{$index}}
             ng-hide = "number === 1"
             ng-class = "{'active':prev==$index}">{{number+' '}} </div>
      </div>
    </div>
    <br><br>
    <!--History module: disable for guaranteed functionality-->
    <div>
      <div ng-repeat="(age,state) in hist">
        <div id="buttonGroup" ng-repeat="nr in state track by $index">
          <div class="numberBox" ng-hide = "nr === 1"
               ng-class="{'active':$index==histPrev[age]}">
            {{nr+' '}}
          </div>
        </div>
        <br
      </div>
    </div>
   

    <!--End of History module -->

    <br>
  
    <div id="centered">
      <button class="btn btn-default" ng-click="undo()"> Undo </button>
      <button class="btn btn-default" ng-click="reset()"> Reset </button>
      <a class="btn btn-default" role="button" href='/#/levels'> Back </a>
    </div>



<!--    <button class="btn-primary" id="centered" ng-click="reset()"> Reset </button> -->

    <h3 ng-show = "loseFlag"> Sorry, it seems you have reached a dead end. Try again? </h3>
    <h2 ng-show = "winFlag"> Congratulations! You won!</h2>
    <h2 ng-show = "winFlag"> 
      <a href="{{'/#/levels/' + (currentLevel+2)}}"> Next level </a>
    </h2>

    <!--<h2><a href='/#/levels'> Back </a></h2> -->
  </body>
</html>

